@use "../../styles/abstract/variable" as *;;
@use "../../styles/abstract/mixins.scss" as *;

.services_section{
    padding: 80px 0;
    .service_card{
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
        .icon_wrapper{
            height: 90px;
            width: 90px;
            background-color: #FFEFD0;
        }
        .service_head{
            @include text(25px,400,$secondary-color,26px,left,capitalize);
        }
        .service_text{
            @include text(15px,normal,#28384E,26px,left,capitalize);
        }
        .lmore-link{
            @include text(15px,normal,#1B498A,26px,left,capitalize);
            text-decoration: none;
            display: inline-block;
            transition: transform 0.3s ease;
            &:hover{
                transform: translateX(10px);
                font-weight: bold;
                text-decoration: underline;
            }
        }
        &:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.2); 
        }
    }
}