.aboutus_section{
    padding: 80px 0;
    background-color: #eee;
    .sectionHead{
        .section_title{
            text-align: left;
        }
        .section_text{
            text-align: left;
        }
    }
}