@use "../../styles/abstract/variable" as *;;
@use "../../styles/abstract/mixins.scss" as *;

.btn_wrapper{
    .btn-primary{
        @include button($primary-color, $white-color, 10px, 25px, 5px);
        border: 1px solid $primary-color;
        &:hover {
            border: 1px solid $primary-color;
        }
    }
}
.sectionHead{
    .section_title{
        @include text(40px,bold,$secondary-color,50px,center,capitalize);
    }
    .section_text{
        @include text(15px,normal,#28384E,26px,center,capitalize);
    }
}


//table api

.table_wrapper{
    margin: 40px 0 80px;
    .table{
        thead{
            th{
                background-color: $primary-color;
                color: $white-color;
            }
        }
        tbody{
            tr{
                td{
                    color: $secondary-color;
                }
            }
        }
    }
}

//contact form

.contact_form{
    .form-group{
        margin-bottom:25px;
        label{
            @include text(15px,bold,$secondary-color,18px,left,capitalize);
            margin-bottom: 10px;
        }
    }
}